* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    padding: 5em;
    gap: 2em;
}
.companies-container{
    width: 100%;
    border: 2px solid #E8E8E8;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.company-card-container{
    border:  2px solid #E8E8E8;
    border-radius: 5px;
}
.company-card-container > header {
    padding: 10px;
    border-bottom: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
}
.company-card-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bold{
    font-weight: 800;
}
.company-card-container > footer{
    padding: 10px;
    border-top: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
}
.create-new-company-container, .create-new-person-container{
    border: 2px solid #E8E8E8;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 300px;
}
.create-new-company-form-container, .create-new-person-form-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.side-bar-elements{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.list-of-companies-container{
    display: flex;
    flex-direction: column;
    gap: 2em;  
    overflow: auto;  
}
.companies-container{
    max-height: 100vh;
}
.company-overview-container{
    max-width: 800px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.profile-overview-container{
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.profile-card-details{
    display: flex;
    padding: 1em 2em;
}
.profile-card-details__left{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.profile-card-details__right{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.employee-list-container{
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.profile-overview-container > header {
    border-bottom: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
    padding: 1em;
    font-weight: 800;
}
.employee-list-container > header {
    border-bottom: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
    padding: 1em;
    font-weight: 800;
    align-self: stretch;
}
.link-style{
    text-decoration: none;
    color: black;
}
.employee-card-container {
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    min-width: 80%;
}
.employee-card-container > header {
    border-bottom: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
    padding: 1em;
    font-weight: 800;
}
.employee-card-details {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.error-div{
    color: red;
}
.submit-btn{
    padding: 1em;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #e0e0e0;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}