* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    padding: 5em;
    gap: 2em;
}
.companies-container{
    width: 100%;
    border: 2px solid #E8E8E8;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.company-card-container{
    border:  2px solid #E8E8E8;
    border-radius: 5px;
}
.company-card-container > header {
    padding: 10px;
    border-bottom: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
}
.company-card-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bold{
    font-weight: 800;
}
.company-card-container > footer{
    padding: 10px;
    border-top: 2px solid #E8E8E8;
    background-color: hsl(0, 0%, 91%, 0.6);
}
.create-new-company-container, .create-new-person-container{
    border: 2px solid #E8E8E8;
    padding: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 300px;
}
.create-new-company-form-container, .create-new-person-form-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}
.side-bar-elements{
    display: flex;
    flex-direction: column;
    gap: 1em;
}